.app-box {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.cards-box {
    width: 150px;
    height: 100px;
    perspective: 1000px;
    background-color: rgb(157, 75, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.content {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
